<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Lease <%= leaseId %> Documents</title>
</head>
<body>
  <h1>Lease <%= leaseId %> Documents</h1>
  <form action="/api/leases/<%= leaseId %>/documents" method="post" enctype="multipart/form-data">
    <div>
      <label>Type: <input name="type" required /></label>
    </div>
    <div>
      <label>Signed By: <input name="signedBy" /></label>
    </div>
    <div>
      <label>Signed On: <input type="date" name="signedOn" /></label>
    </div>
    <div>
      <input type="file" name="document" required />
    </div>
    <button type="submit">Upload</button>
  </form>
  <h2>Uploaded Documents</h2>
  <ul>
    <% documents.forEach(function(doc){ %>
      <li>
        <%= doc.type %> - <%= doc.signedBy || 'Unknown' %> - <%= doc.signedOn || '' %>
        [<a href="<%= doc.url %>">download</a>]
      </li>
    <% }) %>
  </ul>
</body>
</html>
